/* .movie-card{  
    background-color: rgb(56, 5, 240);
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(63, 62, 62);
    display: flex;
    justify-self: space-between;
    align-items: flex-start;
    gap: 20rem;
}

.movie-card .info h3{
   margin: 0;
   border: 1px solid #ccc;
   border-radius: 6px;
   font-size: 1rem;
}

.movie-card .info p{
    padding: 0.75rem;
    background-color: #16a34a;
    color: #ccc;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.movie-card .info button{
    padding: 0.75rem;
    background-color: #16a34a;
    color: #ccc;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    gap: 200px;
}

.movie-card button:hover{
    background-color: hsl(32, 100%, 48%);
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 6px;
} */
    
    